<div class="banner-info">
  <div class="banner-logo text-center">
    <img src="img/logoico.png" class="img-responsive">
  </div>
  <div class="banner-text text-center" style="width:58%;margin: 0 auto;">

    <h1><span class="element"></span><span class="typed"></span></h1>

    <p style="color:black">Open, democratic, and efficient end-to-end scientific ecosystem managed by a flexible DAO jointly owned by scientific researchers and public.</p>
    <a href="https://github.com/open-science-org/wiki/blob/master/OSO_white_paper.pdf" class="btn btn-appoint">Read our concept.</a>
  </div>
  <div id="typed-strings">
    <p style="color:black">0PEN ∫CIENCE 0RGANIZATION</p>
    <p style="color:black">EMPOWERING RESEARCHERS</p>
    <p style="color:black">POWERED BY BLOCKCHAIN!!!</p>
  </div>
  <span id="typed"></span>
  <div class="text-center">
    <a href="#coreConcept"><i class="fa fa-angle-down" style="color:black; font-size:40px"></i></a>
  </div>
</div>
