<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Advisors</h2>
        <hr class="botm-line">
      </div>

      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/prof_Radz.jpg"  alt="Stanislaw Radziszowski" class="team-img imageContainer">
          <div id="radzBio" class="caption">
            <h4>Stanislaw Radziszowski</h4>
            <h6>Prof. of Computer Science, Rochester Institute of Technology</h6>
            <h6>Mathematician and computer scientist, best known for his work in Ramsey theory.</h6>
            <h6></h6>
            <ul class="list-inline">
              <li><a href="https://www.cs.rit.edu/~spr/homepage.html"><i class="fa fa-globe"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/prof_stefi.jpeg"  alt="Prof. Stefi Baum" class="team-img imageContainer">
          <div id="setfiBio" class="caption">
            <h4>Prof. Stefi Baum</h4>
            <h6>Dean, Faculty of Science at University of Manitoba</h6>
            <h6>Helped to develop the Hubble telescope. </h6>
            <h6></h6>
            <ul class="list-inline">
              <li><a href="http://umanitoba.ca/faculties/science/dean/2186.html"><i class="fa fa-globe"></i></a></li>
              <li><a href="https://www.linkedin.com/in/stefi-baum-64185447/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      </div>
      </div>
</section>

<section id="contributors" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Contributors</h2>
        <hr class="botm-line">
      </div>


<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h5>Sujan Khadka</h5>
      <h6>Software Engineer at Uber ATG</h6>
      <ul class="list-inline">
        
        <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;sujankhadka&#x2F;"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;sujankh"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h5>Kevin A Lyons</h5>
      <h6>EECS @ MIT Full Stack Developer at Nodal</h6>
      <ul class="list-inline">
        <li><a href="https:&#x2F;&#x2F;kevinalyons.com"><i class="fa fa-globe"></i></a></li>
        <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;kevin-lyons&#x2F;"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;kalyons11"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h5>Oaponbc</h5>
      <h6>Editor at a reputed scientific journal</h6>
      <ul class="list-inline">
        <li><a href="https://github.com/oaponbc"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h5>Andrew Kang</h5>
      <h6>Healthcare Consultant, ZS Associates</h6>
      <ul class="list-inline">
        <li><a href="https://www.linkedin.com/in/andrew-kang-94186468/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h5>James Ding</h5>
      <h6>Forward Deployed Engineer, Palantir</h6>
      <ul class="list-inline">
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h5>Enbo Zhao</h5>
      <h6>PhD candidate in Material Science and Engineering, Georgia Tech (5th year)</h6>
      <ul class="list-inline">
        
        
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;zebgleaner"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h5>Neha Mittoor Changappa</h5>
      <h6>Entrepreneur (https:&#x2F;&#x2F;www.digitallisto.com&#x2F;), Full Stack Web Developer, Blockchain Technology Enthusiast</h6>
      <ul class="list-inline">
        
        <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;neha-mittoor-changappa-6b3752101&#x2F;"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;nehamchangappa"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h5>Noman Land</h5>
      <h6></h6>
      <ul class="list-inline">
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;orgs&#x2F;open-science-org&#x2F;people&#x2F;noman-land"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>



</div>
</div>
</section>


