<section id="team" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Contributors</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <div class="caption">
            <h3>Sujan Khadka</h3>
            <p>Software Engineer at Uber ATG</p>
            <ul class="list-inline">
              <li><a href="https://www.linkedin.com/in/sujankhadka/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/sujankh"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <div class="caption">
            <h3>Kevin A Lyons</h3>
            <p>EECS @ MIT, Full Stack Developer at Nodal</p>
            <ul class="list-inline">
              <li><a href="https://kevinalyons.com"><i class="fa fa-globe"></i></a></li>
              <li><a href="https://www.linkedin.com/in/kevin-lyons/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/kalyons11"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
