<section id="contributors" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Contributors</h2>
        <hr class="botm-line">
      </div>


<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h3>Sujan Khadka</h3>
      <p>Software Engineer <br> Uber ATG<br><br><br><br></p>
      <ul class="list-inline">
        
        <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;sujankhadka&#x2F;"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;sujankh"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h3>Kevin A Lyons</h3>
      <p>EECS @ MIT <br> Full Stack Developer at Nodal<br><br><br><br></p>
      <ul class="list-inline">
        <li><a href="https:&#x2F;&#x2F;kevinalyons.com"><i class="fa fa-globe"></i></a></li>
        <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;kevin-lyons&#x2F;"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;kalyons11"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h3>Noman Land</h3>
      <p><br><br><br><br><br></p>
      <ul class="list-inline">
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;orgs&#x2F;open-science-org&#x2F;people&#x2F;noman-land"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h3>Enbo Zhao</h3>
      <p>PhD candidate in Material Science and Engineering<br> Georgia Tech (5th year)<br><br><br></p>
      <ul class="list-inline">
        
        
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;zebgleaner"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="thumbnail">
    <div class="caption">
      <h3>Neha Mittoor Changappa</h3>
      <p>Entrepreneur (https:&#x2F;&#x2F;www.digitallisto.com&#x2F;),<br> Full Stack Web Developer<br> Blockchain Technology Enthusiast</p>
      <ul class="list-inline">
        
        <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;neha-mittoor-changappa-6b3752101&#x2F;"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https:&#x2F;&#x2F;github.com&#x2F;nehamchangappa"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>



</div>
</div>
</section>
