<section id="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Contact us</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="space"></div>
        <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>oso@osoproject.com</p>
        <div class="space"></div>
        <p><i class="fa fa-slack fa-fw pull-left fa-2x"></i>#osoNetwork</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="space"></div>
        <p><i class="fa fa-facebook fa-fw pull-left fa-2x"></i>osoNetwork</p>
        <div class="space"></div>
        <p><i class="fa fa-twitter fa-fw pull-left fa-2x"></i><a href="https://twitter.com/OpenScienceOrg">OpenScienceOrg</a></p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="space"></div>
        <p><i class="fa fa-linkedin fa-fw pull-left fa-2x"></i>osoNetwork</p>
        <div class="space"></div>
        <p><i class="fa fa-github-alt fa-fw pull-left fa-2x"></i><a href="https://github.com/open-science-org">open-science-org</a></p>
      </div>
      <div class="col-md-4 col-sm-4">
        Want to contribute? Shoot us an email at gjk0112358@gmail.com
      </div>
    </div>
  </div>
</section>
