<section id="coreConcept" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <h2 class="ser-title">Core Concept</h2>
        <hr class="botm-line">
        <p style="text-align:justify">Modern day science has been a collective effort of different researchers and research groups.
          The collective intellectual power gathered by the scientific ecosystem is akin to the group intelligence (the “wisdom of crowds”) where a wise crowd is generally more intelligent compared to individual members in the group. The additional gain in intelligence is primarily dependent on the efficient flow of value (capital, information, etc.) among the members.
          The scientific community is still dependent on the rudimentary system for value flow, which is highly centralized, opaque, and redundant. Thereby it suffers from several problems: funding agencies are controlled by a small number of people, majority of scientists’ time is consumed by grant application writing with small success rates, a slow publication process, institutional biases, underpaid researchers, irreproducible publications, high subscription fees for journals, and a general focus on quantity of scientific publications over quality.
          These problems can be solved and the overall efficiency of the scientific community can be improved by creating an open and decentralized scientific ecosystem based on blockchain technology (or its variants).
          Open Science Organization (OSO) will be a decentralized community that will create an open and democratic self-sustaining scientific ecosystem. </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-flask"></i>
          </div>
          <div class="icon-info">
            <h4>IPIS</h4>
            <p>Inter Planetery Idea System (IPIS) will allow us to track the evolution of ideas over time as well as quantify the similarity of two ideas. IPIS will facilitate the efficient sharing of the ideas and prevent the community from reinventing wheels, thereby accelerating the pace of the scientific research.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-shopping-basket"></i>
          </div>
          <div class="icon-info">
            <h4>Quantification of expertise </h4>
            <p>The level of expertise or e-value of an entity (general individual, researcher, research group, organization, etc.) in a research domain D will be computed using e-function. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="icon-info">
            <h4>Open and Democratic funding</h4>
            <p>In OSO funding mechanism, there will be two voting stages: 1) Direction vote: the first voting stage decides the funding distribution to different research domains and projects, 2) Matching vote: the second stage decides the matching of the funded projects to the funding applicants.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-question-circle"></i>
          </div>
          <div class="icon-info">
            <h4>Open and Democratic Review</h4>
            <p>The review process will be open to the public. It will consist of two stages: initial review and perpetual review. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-5">
        <div class="icon">
          <a href="https://github.com/open-science-org/wiki/blob/master/OSO_white_paper.pdf"><i class="fa fa-file-text faa-horizontal animated">&nbsp;</i><input class="btn btn-primary" type="button" value="Whitepaper" style="display: inline-block; background-color:rgba(12, 184, 182, 0.91); vertical-align:top; margin-top: 10px;"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="uriConcept" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          <h2 class="ser-title">Unique Researcher Identity(URI)
              <a href="https://github.com/open-science-org/URI"><i class="fa fa-github"></i></a>
          </h2>
          <hr class="botm-line">
          <p style="text-align:justify">
            This project envisions the solution to the problem of unique researcher identity(URL). Our team is working on creating a unique research idenity
            which can be stored, tracked, shared and audited levaraging the block chain technologies. This would include the complex mapping of 
            researcher's profile with his/her ideas, publications and activities. Following is the visaulization of how URI can be realized through the combination of existing solutions.<br>
            <div style="text-align:center">
            <img width="70%" height=auto src="https://raw.githubusercontent.com/open-science-org/URI/master/open-science-org-network.png"><br>
            <b>Find more about how we are progressing on this project through our  <a href="https://github.com/open-science-org/URI"> github <i class="fa fa-github"></i></a>.</b>
          </div>
          </p>
        </div>
      </div>
      </div>
</section>
<section id="ipisConcept" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          <h2 class="ser-title">Interplanetery Idea System(IPIS)
              <a href="https://github.com/open-science-org/IPIS"><i class="fa fa-github"></i></a>
          </h2>
          <hr class="botm-line">
          <p style="text-align:justify">
            Inter Planetery Idea System(IPIS) is a protocal/model by the virtue of which each unique idea can be indeitified and its evolution over the time can eb tracked.
            This will also provide us with the framework to evaulation the relationships between multiple ideas.IPIS is motivated by the Inter Planetery File System(IPFS). IPIS could be modelled as Directed Acyclic Graph(DAG) which grows over time. Each node of the DAG will be an IPIS object representing an unique idea.If there is a publication or data (stored as an IPFS object) related to an idea, its IPIS object will contain the cryptographic hash of the IPFS object.<br><br>
            IPIS will allow us to track the evolution of ideas over time as well as quantify the similarity of two ideas. The similarity score can be a hybrid of the market-driven score (decided by the scientific community via voting) and the algorithmic score generated from the IPIS protocol. IPIS will facilitate the efficient sharing of the ideas and prevent the community from reinventing wheels, thereby accelerating the pace of the scientific research. In addition, a good visualization of IPIS objects will help the scientific community to identify the pain points of scientific research. Similarly, it can be used to find the optimal distribution of available resources (e.g. fund allocation) required in order to maximize scientific throughput. Loosely speaking, IPIS will store the collective thought process of the whole scientific community.
            <div style="text-align:center">
              <b>Find more about how we are progressing on this project through our <a href="https://github.com/open-science-org/IPIS">github <i class="fa fa-github"></i></a>.</b>
              </div>
          </p></div>
      </div>
      </div>
</section>
<section id="rrindexConcept" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          <h2 class="ser-title">Researcher Index(RR-Index)
              <a href="https://github.com/open-science-org/RR-index"><i class="fa fa-github"></i></a>
          </h2>
          <hr class="botm-line">
          <p style="text-align:justify">
            Researcher Index (RR-index), as its name suggests is a ranking mechanism for the researchers. This project aims to quanity the research impact of the research/project ideas using the existing block chain technologies. RR-index will be a data driven domain independent metric to compute the values created by the ideas and researchers in OSO ecosystem.
            This technology will not only help to improve the quality of research contributions but will also set a benchmark for researchers away from our domain as well. RR-index will employ various methods like author-level metric, statistical model, machine learnings and blockchain technology to establish unbaised and robust indexing mechanism. 
            <div style="text-align:center">
                <b>Find more about how we are progressing on this project through our <a href="https://github.com/open-science-org/RR-index">github <i class="fa fa-github"></i></a>.</b>
                </div>
          </p>
        </div>
      </div>
      </div>
</section>
<section id="storageConcept" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          <h2 class="ser-title">Storage
              <a href="https://github.com/open-science-org/pub-hub"><i class="fa fa-github"></i></a>
          </h2>
          <hr class="botm-line">
          <p style="text-align:justify">The final block of the OSO platform is the storage. But the storage itself has to be smart enough to support human readable queries. The existing decetralization file storage, Interplanetery File System (IPFS) only allos look-ups for the files using its hash generated while storing in the IPFS network. OSO's storage and query layer atops IPFS to support smart queries.
              <div style="text-align:center">
                  <b>Find more about how we are progressing on this project through our <a href="https://github.com/open-science-org/pub-hub"> github <i class="fa fa-github"></i></a>.</b>
                  </div>
          </p>
        </div>
      </div>
      </div>
</section>
<section id="roadMap" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          <h2 class="ser-title">RoadMap
              
          </h2>
          <hr class="botm-line">
          <p style="text-align:justify">
              <div style="text-align:left">
                  <img width="90%" height=auto src="img/OSO_roadmap_figure.png"><br>
                </div>
          </p>
        </div>
      </div>
      </div>
</section>