<section id="team" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">The team</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/gajen.jpg" alt="Gajendra Jung Katuwal" class="team-img">
          <div class="caption">
            <h3>Gajendra Jung Katuwal</h3>
            <p>Member (Vision, Research)</p>
            <ul class="list-inline">
              <li><a href="https:&#x2F;&#x2F;twitter.com&#x2F;GajenJung"><i class="fa fa-twitter"></i></a></li>
              
              <li><a href="https:&#x2F;&#x2F;twitter.com&#x2F;GajenJung"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/keith.jpg" alt="Keith Smith" class="team-img">
          <div class="caption">
            <h3>Keith Smith</h3>
            <p>Member (Developer, Research)</p>
            <ul class="list-inline">
              
              
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/" alt="Kirk Gosik" class="team-img">
          <div class="caption">
            <h3>Kirk Gosik</h3>
            <p>Member (Research)</p>
            <ul class="list-inline">
              
              
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
              <li><a href=""><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/bikos.jpg" alt="Bikos" class="team-img">
          <div class="caption">
            <h3>Bikos</h3>
            <p>Member (Developer)</p>
            <ul class="list-inline">
              
              
              
              <li><a href=""><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/gajen.jpg" alt="Abinash Koirala" class="team-img">
          <div class="caption">
            <h3>Abinash Koirala</h3>
            <p>Member (Developer)</p>
            <ul class="list-inline">
              
              
              
              <li><a href=""><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/chen_photo.jpg" alt="Robert Chen" class="team-img">
          <div class="caption">
            <h3>Robert Chen</h3>
            <p>Member (Developer)</p>
            <ul class="list-inline">
              <li><a href="https:&#x2F;&#x2F;twitter.com&#x2F;rchenmit"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https:&#x2F;&#x2F;twitter.com&#x2F;rchenmit"><i class="fa fa-globe"></i></a></li>
              <li><a href="https:&#x2F;&#x2F;twitter.com&#x2F;rchenmit"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/canJin.jpg" alt="Can Jin" class="team-img">
          <div class="caption">
            <h3>Can Jin</h3>
            <p>Member (Developer)</p>
            <ul class="list-inline">
              
              
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
