<section id="team" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">The team</h2>
        <hr class="botm-line">
      </div>
      <div class="row">
      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/gajen.jpg"  alt="Gajendra Jung Katuwal" class="team-img imageContainer">
          <div id="gajenBio" class="caption">
            <h4>Gajen J. Katuwal</h4>
            <h5>Member (Vision, Research)</h5>
            <h6>Scientist (Machine Learning + Blockchain), Philips Innovations Lab</h6>
            <h6>PhD in Imaging Science (Machine Learning), Rochester Institute of Technology</h6>
            <ul class="list-inline">
              <li><a href="https:&#x2F;&#x2F;twitter.com&#x2F;GajenJung"><i class="fa fa-twitter"></i></a></li>
              
              <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;gajendrakatuwal&#x2F;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/himalayajung"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/keith.jpg" alt="Keith Smith" class="team-img imageContainer">
          <div class="caption">
            <h4>Keith Smith</h4>
            <h5>Member (Developer, Research)</h5>
            <h6>Solutions Architect, Cloudera</h6>
            <h6>M.A. in Economics, University of Arizona</h6>
            <ul class="list-inline">
              
              <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;keith-smith-07477a25&#x2F;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https:&#x2F;&#x2F;github.com&#x2F;KeithSSmith"><i class="fa fa-github"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/kirk.jpg" alt="Kirk Gosik" class="team-img imageContainer">
          <div class="caption">
            <h4>Kirk Gosik</h4>
            <h5>Member (Research)</h5>
            <h6>Computational Biologist Post Doc, Broad Institute</h6>
            <h6>PhD in Biostatistics (Statistical Genetics), Penn State University</h6>
            <ul class="list-inline">
              
              
              <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;kirk-gosik-3214b717&#x2F;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/kdgosik"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/bikos.jpg" alt="Bikos" class="team-img imageContainer">
          <div class="caption">
            <h4>Bikrant Gautam</h4>
            <h5>Member (Developer)</h5>
            <h6>Front-end Developer, Corvex Connected</h6>
            <h6>M.S. in Computer Science and Information Security, St. Cloud State University</h6>
            <ul class="list-inline">
              
              
              
              <li><a href="https:&#x2F;&#x2F;github.com&#x2F;bikos"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/abinash.jpg" alt="Abinash Koirala" class="team-img imageContainer">
          <div class="caption">
            <h4>Abinash Koirala</h4>
            <h5>Member (Developer)</h5>
            <h6>Software Engineer, Move Inc.</h6>
            <h6>M.S. in Information Technology, Rensselaer Polytechnic Institute</h6>
            <ul class="list-inline">
              
              
              <li><a href="https://www.linkedin.com/in/abinash/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https:&#x2F;&#x2F;github.com&#x2F;abinashk"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/chen_photo.jpg" alt="Robert Chen" class="team-img imageContainer">
          <div class="caption">
            <h4>Robert Chen</h4>
            <h5>Member (Developer)</h5>
            <h6>Data Scientist, Flatiron Health</h6>
            <h6>Ph.D. Computer Science (Machine Learning), Georgia Tech</h6>
            <h6>B.S. Mathematics, Computer Science, Massachusetts Institute of Technology</h6>
            <ul class="list-inline">
              <li><a href="https:&#x2F;&#x2F;twitter.com&#x2F;rchenmit"><i class="fa fa-twitter"></i></a></li>
              <li><a href="http:&#x2F;&#x2F;www.robchen.org"><i class="fa fa-globe"></i></a></li>
              <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;rchen99&#x2F;"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
            <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/eric.jpeg" alt="Eric Gagnon" class="team-img imageContainer">
          <div class="caption">
            <h4>Eric Gagnon</h4>
            <h5>Member (Developer)</h5>
            <h6>Data Scientist, Penn State Health</h6>
            <h6>M.S. Applied Statistics, Penn State University</h6>
            <ul class="list-inline">
            <li><a href="https://github.com/ericsgagnon"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/eric-gagnon-3367b67b/"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
      
            <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/netti.jpeg" alt="Joseph Netti" class="team-img imageContainer">
          <div class="caption">
            <h4>Joseph Netti</h4>
            <h5>Member (Developer)</h5>
            <h6>Blockchain Researcher, Draper</h6>
            <h6>President, RIT Blockchain Club</h6>
            <ul class="list-inline">
              <li><a href="https://www.linkedin.com/in/joseph-netti-a37a50104/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/Zheng_liu.jpeg" alt="Can Jin" class="team-img imageContainer">
          <div class="caption">
            <h4>Zheng Liu</h4>
            <h5>Member (Research)</h5>
            <h6>Associate Professor, The University of British Columbia</h6>
            <ul class="list-inline">
              <li><a href="https://www.linkedin.com/in/zhengliu6699/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>  
      
      <div style="height:410px !important" class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="img/canJin.jpg" alt="Can Jin" class="team-img imageContainer">
          <div class="caption">
            <h4>Can Jin</h4>
            <h5>Member (Developer)</h5>
            <h6>Engineer/Scientist, Apple</h6>
            <h6>PhD in Imaging Science, Rochester Institute of Technology</h6>
            <ul class="list-inline">
              
              
              <li><a href="https:&#x2F;&#x2F;www.linkedin.com&#x2F;in&#x2F;canjinroc&#x2F;"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
