<section id="coreConcept" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <h2 class="ser-title">Core Concept</h2>
        <hr class="botm-line">
        <p style="text-align:justify">Modern day science has been a collective effort of different researchers and research groups.
          The collective intellectual power gathered by the scientific ecosystem is akin to the group intelligence (the “wisdom of crowds”) where a wise crowd is generally more intelligent compared to individual members in the group. The additional gain in intelligence is primarily dependent on the efficient flow of value (capital, information, etc.) among the members.
          The scientific community is still dependent on the rudimentary system for value flow, which is highly centralized, opaque, and redundant. Thereby it suffers from several problems: funding agencies are controlled by a small number of people, majority of scientists’ time is consumed by grant application writing with small success rates, a slow publication process, institutional biases, underpaid researchers, irreproducible publications, high subscription fees for journals, and a general focus on quantity of scientific publications over quality.
          These problems can be solved and the overall efficiency of the scientific community can be improved by creating an open and decentralized scientific ecosystem based on blockchain technology (or its variants).
          Open Science Organization (OSO) will be a decentralized community that will create an open and democratic self-sustaining scientific ecosystem. </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-flask"></i>
          </div>
          <div class="icon-info">
            <h4>IPIS</h4>
            <p>Inter Planetery Idea System (IPIS) will allow us to track the evolution of ideas over time as well as quantify the similarity of two ideas. IPIS will facilitate the efficient sharing of the ideas and prevent the community from reinventing wheels, thereby accelerating the pace of the scientific research.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-shopping-basket"></i>
          </div>
          <div class="icon-info">
            <h4>Quantification of expertise </h4>
            <p>The level of expertise or e-value of an entity (general individual, researcher, research group, organization, etc.) in a research domain D will be computed using e-function. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="icon-info">
            <h4>Open and Democratic funding</h4>
            <p>In OSO funding mechanism, there will be two voting stages: 1) Direction vote: the first voting stage decides the funding distribution to different research domains and projects, 2) Matching vote: the second stage decides the matching of the funded projects to the funding applicants.</p>
          </div>
        </div>
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-question-circle"></i>
          </div>
          <div class="icon-info">
            <h4>Open and Democratic Review</h4>
            <p>The review process will be open to the public. It will consist of two stages: initial review and perpetual review. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-5">
        <div class="icon">
          <a href="https://github.com/open-science-org/wiki/blob/master/OSO_white_paper.pdf"><i class="fa fa-file-text faa-horizontal animated">&nbsp;</i><input class="btn btn-primary" type="button" value="Whitepaper" style="display: inline-block; background-color:rgba(12, 184, 182, 0.91); vertical-align:top; margin-top: 10px;"></a>
        </div>
      </div>
    </div>
  </div>
</section>
