<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>
<script src="js/typed.js"></script>

<script>
var typed = new Typed('.element', {
  stringsElement: '#typed-strings',
  loop: true,
  typeSpeed: 150, // typing speed
  backDelay: 2500, // pause before backspacing
  backSpeed: 100,
  showCursor: false,
});
</script>
