<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">White paper</h4>
          </div>
          <div class="info-sec">
            <p>Follow <a href="https://github.com/open-science-org/wiki/blob/master/OSO_white_paper.pdf">this Link.</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Quick Links</h4>
          </div>
          <div class="info-sec">
            <ul class="quick-info">
              <li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
              <li><a href="#coreConcept"><i class="fa fa-circle"></i>Concept</a></li>
              <li><a href="#team"><i class="fa fa-circle"></i>Team</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Follow us</h4>
          </div>
          <div class="info-sec">
            <ul class="social-icon">
              <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
              <li class="bgred"><i class="fa fa-google-plus"></i></li>
              <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
              <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          © Team OSO
          <div class="credits">
            Credits:
            <a href="https://bootstrapmade.com/">BootstrapMade</a> /
            <a href ="https://paulund.co.uk/create-typing-effect">TypedJS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
