<!DOCTYPE html>
<html lang="en">
  {{> header.html}}
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <canvas id="banner" class="banner">
    </canvas>
    {{> navigation.html}}
    {{> banner.html}}

    {{> core_concept.html}}
    {{> core_team.html}}

    {{> contributors.html}}

    {{> faq.html}}

    {{> contacts.html}}

    {{> footer.html}}
    {{> footer_scripts.html}}

  </body>
</html>
